Source: deepin-pw-check
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 cracklib-runtime,
 debhelper-compat (=13),
 deepin-gettext-tools,
 golang-dbus-dev,
 golang-dlib-dev (>> 1.8.0+),
 golang-github-linuxdeepin-go-dbus-factory-dev,
 golang-github-stretchr-testify-dev,
 golang-go,
 libcrack2-dev,
 libiniparser-dev,
 libpam-dev,
Standards-Version: 4.5.1
Homepage: http://www.deepin.org

Package: deepin-pw-check
Architecture: any
Depends:
 policykit-1,
 ${misc:Depends},
 ${shlibs:Depends},
Description: deepin password check interface
 deepin-pw-check is a tool to verify the validity of the password

Package: libdeepin-pw-check
Architecture: any
Depends:
 cracklib-runtime,
 libcrack2,
 libiniparser1,
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libpam-cracklib,
Replaces:
 libpam-cracklib,
Description: deepin password check interface
 deepin-pw-check is a tool to verify the validity of the password

Package: libdeepin-pw-check-dev
Architecture: any
Depends:
 libdeepin-pw-check,
 ${misc:Depends},
 ${shlibs:Depends},
Description: deepin password check interface
 deepin-pw-check is a tool to verify the validity of the password
